PYTHONPATH="src/"
GOOGLE_APPLICATION_CREDENTIALS="src/service.json"
ORIGINS="*"
PROJECT=kitsune-dev-313313
LOCATION=asia-northeast1
FHIR_DATASET=phat-fhir-dataset-id
FHIR_STORE=phat-fhir-store-id
FIREBASE_API_KEY=[:firebase-api-key]
SECRETS_PATH=/secrets
