PYTHONPATH=src/
GOOGLE_APPLICATION_CREDENTIALS=src/service.json
ORIGINS=*
PROJECT=kitsune-dev-313313
LOCATION=asia-northeast1
FHIR_DATASET=phat-fhir-dataset-id
FHIR_STORE=phat-fhir-store-id
FIREBASE_API_KEY=[:firebase-api-key]
GCP_STORAGE_BASE_PATH=[:storage_key]
BUCKET_NAME=[:bucket_name]
PROCESSED_BULK_PAYMENT_FILES=[:object_name]
SECRETS_PATH=/secrets
FCM_TOKEN="token"
NOTION_ENCOUNTER_DATABASE_ID=[:notion_encounter_database_id]
IS_SYNCING_TO_NOTION_ENABLED=true
APNS_TOPIC=
APPLE_PUSH_ENDPOINT=
